body{
    background-color: hsl(0, 0%, 7%);;
    color: white;
    padding: 0;
}
nav{
    display: flex;
    flex-direction: row;
    color: white;
    align-items: center;
    height: 68px;
    position: fixed;
}
ul{
    display: flex;
    flex-direction: row;
    list-style: none;

}
nav h2{
    margin-right: 30em;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 50px;
}
li{
    margin-left: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20;
    cursor: pointer;
    position: relative;
}
li::after{
    content: '';
    width: 0;
    height: 2px;
    background: #fff;
    position: absolute;
    bottom: -5px;
    left: 0;
    border-radius: 10px;

}
li:hover::after{
    width: 100%;
    transition: .2s ease-out;
}

.join{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.join h1{
    font-size: 6em;
    font-family: "Oswald", sans-serif;
}
.join h1 span {
    background: linear-gradient(90deg,#ff247f, #ff5bbb);
    -webkit-background-clip: text;
    color: transparent;
    filter: drop-shadow(0 0 30px #ff0095);
}
.join .disc {
    position: absolute;
    width: 25rem;
    z-index: -1;
    left: 20px;
    filter: drop-shadow(0 0 30px #0a60ff);
    animation: anim 2s ease-in-out infinite;
}
@keyframes anim {
    0%,100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(27px);
    }
}
/* .tool{
    position: absolute;
    background-color: transparent;
    border: none;
    width: 9em;
    height: 4em;
    border-radius: 70px;
    top: 75%;
    right: 25%;
    color: #fff;
    font-weight: bold;
    font-size: 15;
    transition: .5s ease-out;
    box-shadow: inset 5px 3px 10px #000,
                0 0 10px #fff;

} */
button {
    position: absolute;
    top: 75%;
    right: 25%;

    --glow-color: rgb(217, 176, 255);
    --glow-spread-color: rgba(191, 123, 255, 0.781);
    --enhanced-glow-color: rgb(231, 206, 255);
    --btn-color: rgb(100, 61, 136);
    border: .25em solid var(--glow-color);
    padding: 1em 3em;
    color: var(--glow-color);
    font-size: 15px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em .25em var(--glow-color),
           0 0 4em 1em var(--glow-spread-color),
           inset 0 0 .75em .25em var(--glow-color);
    text-shadow: 0 0 .5em var(--glow-color);
    transition: all 0.3s;
   }
   
   button::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--glow-spread-color);
    filter: blur(2em);
    opacity: .7;
    transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
   }
   
   button:hover {
    color: var(--btn-color);
    background-color: var(--glow-color);
    box-shadow: 0 0 1em .25em var(--glow-color),
           0 0 4em 2em var(--glow-spread-color),
           inset 0 0 .75em .25em var(--glow-color);
   }
   
   button:active {
    box-shadow: 0 0 0.6em .25em var(--glow-color),
           0 0 2.5em 2em var(--glow-spread-color),
           inset 0 0 .5em .25em var(--glow-color);
   }

.infos{
    height: 100vh;
    
}
